name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    if: ${{ github.repository_owner == 'withastro' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0

      - uses: pnpm/action-setup@v2
        with:
          version: 8

      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: pnpm

      - run: pnpm i

      - name: Create Release Pull Request
        id: changesets
        uses: changesets/action@v1
        with:
          version: pnpm run version
          commit: '[ci] release'
          title: '[ci] release'
        env:
          GITHUB_TOKEN: ${{ secrets.FREDKBOT_GITHUB_TOKEN }}
          AZURE_TOKEN: ${{ secrets.AZURE_TOKEN }}

      - name: Publish to VS Code
        if: steps.changesets.outputs.published == 'true'
        run: npx vsce publish --no-dependencies -p ${{ secrets.AZURE_TOKEN }}

      - name: Publish to OpenVSX
        if: steps.changesets.outputs.published == 'true'
        run: npx ovsx publish --no-dependencies -p ${{ secrets.OVSX_TOKEN }}
